<%- include('header') %>
      <div class="row mb-5">
        <div class="col">
          <h4><%= title  %> </h4> 
          <table class="table">
       
        <% users.forEach(function(user){ %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.age %></td>
        </tr>
        <% }) %>
    </table>
        </div>
      </div>
      
      <%- include('footer') %>